<h1>Movies</h1>

<%= form_with(url: movies_path, method: :get, local: true) do %>
  <%= label_tag :search, 'Search by actor:' %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search' %>
<% end %>

<%= link_to 'View Reviews', reviews_path, class: 'btn btn-primary', style: 'margin-top: 20px;' %>

<table>
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="release_year">Release Year</th>
      <th class="description">Description</th>
      <th class="director">Director</th>
      <th class="actor">Actor</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class="title"><%= movie.title %></td>
        <td class="release_year"><%= movie.release_year %></td>
        <td class="description"><%= movie.description %></td>
        <td class="director"><%= movie.director %></td>
        <td class="actor"><%= movie.actor %></td>
      </tr>
    <% end %>
  </tbody>
</table>